$normal: #A8A77A;
$grass: #7AC74C;
$water: #6390F0;
$fire: #EE8130;
$flying: #A98FF3;
$bug: #A6B91A;
$electric: #F7D02C;
$poison: #A33EA1;
$fighting: #C22E28;
$ground: #E2BF65;
$rock:  #B6A136;
$ghost: #735797;
$ice: #96D9D6;
$psychic: #F95587;
$dragon: #6F35FC;
$steel: #B7B7CE;
$dark: #705746;
$fairy: #D685AD;

.App {
    max-width: 1200px;
    margin: 0 auto;
}

.navdisplay{
    display: inline-block;
}
.main{
    background-color: #db6260;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    list-style: none;
    display:inline;
    a{
        margin: 0 10px;
        padding: 5px 10px;
        color: #333;
        font-size:18px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
    }
  }
.nameBox{
    background:white;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 1.5rem;
    .pkmnName{
        font-family: 'Fira Sans', sans-serif;
    }
}
.typeList{
    font-family: 'Fira Sans', sans-serif;
    background: rgb(233, 232, 232);
    margin-left: 15rem;
    margin-right: 15rem;
    padding:2rem;
    border-radius:5px;
    .types{
        background:white;
        -webkit-box-shadow: 6px 8px 15px 5px rgba(0,0,0,0.28); 
        box-shadow: 6px 8px 15px 5px rgba(0,0,0,0.28);
        display: inline-block;
        margin-left:1rem;
        padding:0.4rem;
        border-radius:5px;
        color: white;

        p{
            margin-block-start: 0.5rem;
            margin-block-end: 0.5rem;
            text-shadow: 1px 1px 1px #333;
        }
        p::first-letter{
            text-transform: uppercase;
        }
    }
    .typenormal{
        background:$normal;
        background-image: -webkit-linear-gradient(#a8a878, #8a8a59);
        background-image: linear-gradient(#a8a878, #8a8a59);
        border-color: #79794e;
    }
    .typeflying{
        background:$flying;
        background-image: -webkit-linear-gradient(#a890f0, #9180c4);
        background-image: linear-gradient(#a890f0, #9180c4);
        border-color: #7762b6;
    }
    
}
.screen{
    background: linear-gradient(
    to right,
    #317bee,
    #91D2F5,
    #fdfdfd
    );
    background-size: 400% 400%;
    border: 7px solid #000;
    animation: body 5s infinite ease-in-out;
    border-radius:10px;

    .pokemonList{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}

@keyframes body {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  

.test{
    vertical-align: top;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.card{
    font-weight: bold;
    height: 14rem;
    padding: 30px;
    cursor: pointer;
    
    .pokeImg{
        margin-left: 0.75rem;
        max-width: 10rem;
        position: relative;
        bottom: -2rem;
        z-index: 1;
        transition: .2s;

        :hover{
            transform: scale(1.1);  
        }
    }
    .textName {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: #081b86;
        border-radius: 20px;    
        font-family: "Times New Roman", Times, serif;;    
        color: #fff;
        border: 3px solid black;

        h2::first-letter{
            text-transform: uppercase;
        }
    }
    .textName:hover{
        background: $normal
    }
}
$size: 50px;
.o-pokeball {
    width: $size;
    height: $size;
    border-radius: $size;
    border: solid ($size/25) black;
    position: relative;    
    background: linear-gradient(to bottom, #EEEEEE 0%,#FFFFFF 100%);;
    margin: 10px auto;
    
    &:before,
    &:after{
      content: "";
      display: block;
    }
    
    &,
    &:before,
    &:after{
      transition: all 600ms cubic-bezier(.67,.4,.36,.75);
    }
    
    &:before {
      width: $size;
      height: ($size/2) -($size/25/2);
      border-bottom: solid ($size/25) black;
      border-radius: ($size/2) ($size/2) 0 0;
      background: linear-gradient(to bottom, #d10000 0%,#ff0000 50%);
    }
    
    &:after {
      content: "";
      width: $size/5;
      height: $size/5;
      background: linear-gradient(to bottom, #fff 0%,#ccc 100%);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 ($size/50) black,
                  0 0 0 ($size/25) #ddd,
                  0 0 0 ($size/14) black,
                  0 0 ($size/10) ($size/17) rgba(0,0,0,0.4);
    }
  }

  .u-swing {
    animation: swing 1500ms infinite;
  }
